<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atividade formulário</title>

  <!-- Link CSS externo -->
  <link rel="stylesheet" href="/static/styles/styles.css" class="stylesheet" />

  <!-- Link JS externo -->
  <script src="/static/scripts/scripts.js" defer></script>
</head>
