<header>
  <a href="" class="logo">LOGO</a>
  <nav>
    <% if (!req.session.logged) {%>
    <a href="/">Home</a>
    <a href="/sobre">Sobre</a>
    <a href="/cadastro">Cadastro</a>
    <a href="/login">Login</a>
    <%}else{%>
    <a href="/">Home</a>
    <a href="/sobre">Sobre</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <%}%>
  </nav>
</header>
