<!DOCTYPE html>
<html lang="pt-BR">
  <%-include("../partials/head")%>
  <body>
    <%- include("../partials/menu.ejs"); %> <%-
    include("../partials/usertable"); %> <%- include("../partials/footer"); %>
  </body>
</html>
