<!DOCTYPE html>
<html lang="pt-BR">
  <%-include("../partials/head.ejs")%>
  <body>
    <%- include("../partials/menu.ejs"); %>

    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>

    <%- include("../partials/footer"); %>
  </body>
</html>
